body {
  text-align: center;
  /* margin-top: */
  background-image: url(billbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: rgb(4, 222, 246);
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 10px 20px rgb(0, 0, 0);
}
h3{
    margin-left: 80px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family:monospace;
  text-shadow: 2px 10px 20px rgb(0, 0, 0);
    
}
h2{
    color: rgb(4, 222, 246);
  text-shadow: 2px 3px 4px rgb(0, 0, 0);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
div {
  /* background-color: aliceblue; */
  width: 400px;
  height: auto;
  /* display: flex;2px 10px 20px rgb(0, 0, 0);
  align-items: center;
  justify-content: center; */
  /* border: 1px solid white; */
  border-radius: 8px;
  background-image: url(billbg.jpg);
  background-position: bottom;
  box-shadow:2px 10px 50px rgb(6, 148, 243) ;
}
p{
    color: rgb(91, 91, 91);
    text-align: center;   
  text-shadow: 2px 3px 4px rgb(0, 0, 0);
  font-size: 12px;

    
}

